.paginator {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.selectedPage {
	background-color: thistle;
}

.pageNumber {
	margin-inline: 3px;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
	border: solid #000000 2px;
}

.pageNumber:hover {
	border: solid burlywood 2px;
}